@CHARSET "UTF-8";
@font-face {
	font-family: 'Carrois Gothic';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/CarroisGothic-Regular.eot');
	src: url('fonts/CarroisGothic-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/CarroisGothic-Regular.svg#Carrois Gothic') format('svg'),
	url('fonts/CarroisGothic-Regular.woff') format('woff'),
	url('fonts/CarroisGothic-Regular.ttf') format('truetype');
}